.cart-home {
  background: url("../../../src/assets/Rectangle 1.png");
  width: 1440px;
  height: 316px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.cart-home h1 {
  font-size: 48px;
  font-weight: 500;
  line-height: 72px;
  color: #000000;
}

.cart-home .home-div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cart-home .home-div p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #000000;
}

.cart-home .home-div span {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: #000000;
}
